<ion-header>
  <ion-toolbar>
    <ion-title>AEROGENERADOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="1.2" style = "border: solid 1px #000000">
        V = 
           </ion-col>
        <ion-col size="4" style = "border: solid 1px #000000">
          
            <ion-label position="floating"> </ion-label>
            <ion-input type="number" name="densidad" [(ngModel)]=this.densidad></ion-input>
          
           </ion-col>
          <ion-col size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            m/s
             </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1.2" style = "border: solid 1px #000000">
        ∂ = 
           </ion-col>
        <ion-col size="4" style = "border: solid 1px #000000">

            <ion-label position="floating"> </ion-label>
            <ion-input type="number" name="densidad" [(ngModel)]=this.densidad></ion-input> 

           </ion-col>
          <ion-col size="2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            kg/ms²
             </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1.2" style = "border: solid 1px #000000">
        r = 
           </ion-col>
        <ion-col size="4" style = "border: solid 1px #000000">
            <ion-label position="floating"> </ion-label>
            <ion-input type="number" name="densidad" [(ngModel)]=this.densidad></ion-input>
           </ion-col>
          <ion-col  size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            m
             </ion-col>

      </ion-row>
      <ion-row>
        <ion-col  size="1.2" style = "border: solid 1px #000000">
          A =
            </ion-col>
           <ion-col size="4" style="background-color: rgb(157, 214, 130); margin: 1px;">
               
            </ion-col>
          <ion-col  size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            m²
              </ion-col>
    </ion-row>

  </ion-grid>
    
</ion-content>
