<ion-header>
  <ion-toolbar>
    <ion-title>AEROGENERADOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="1.2" style="background-color: rgb(0, 0, 0); margin: 1px;">
        <font color="white" aling="center">V =</font> 
           </ion-col>
        <ion-col size="4" style = "border: solid 1px #000000">
          
            <ion-label position="floating"> </ion-label>
            <ion-input type="number" name="V" [(ngModel)]=V></ion-input>
          
           </ion-col>
          <ion-col size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            m/s
             </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1.2" style="background-color: rgb(0, 0, 0); margin: 1px;">   
        <font color="white">∂ =</font>
           </ion-col>
        <ion-col size="4" style = "border: solid 1px #000000">

            <ion-label position="floating"> </ion-label>
            <ion-input type="number" name="a" [(ngModel)]=this.a></ion-input> 

           </ion-col>
          <ion-col size="2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            kg/ms²
             </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1.2" style="background-color: rgb(0, 0, 0); margin: 1px;">
        <font color="white">r =</font>
           </ion-col>
        <ion-col size="4" style = "border: solid 1px #000000">
            <ion-label position="floating"> </ion-label>
            <ion-input type="number" name="R" [(ngModel)]=this.R></ion-input>
           </ion-col>
          <ion-col  size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            m
             </ion-col>

      </ion-row>
      <ion-row>
        <ion-col  size="1.2" style="background-color: rgb(0, 0, 0); margin: 1px;">
          <font color="white">A =</font>
            </ion-col>
           <ion-col size="4" style="background-color: rgb(157, 214, 130); margin: 1px;">
            {{this.A}}
            </ion-col>
          <ion-col  size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            m²
              </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button color="success" expand="block" (click)="calcular()" (ionChange)="calcular()">Calcular</ion-button>

<p>
  <ion-grid>
    <ion-row>
      <ion-col  size="5" style="background-color: rgb(0, 0, 0); margin: 1px;">
        <font color="white">Potencia del viento</font>
          </ion-col>
    </ion-row>

    <ion-row>
      <ion-col  size="5" style="background-color: rgb(157, 214, 130); margin: 1px;">
        {{this.potenciaV}}
          </ion-col>
          <ion-col  size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            KW
              </ion-col>
       </ion-row>
  </ion-grid>
</p>


<p>
  <ion-grid>
    <ion-row>
      <ion-col  size="5" style="background-color: rgb(202, 224, 238); margin: 1px;">
        <font color="black">ROTOR</font>
          </ion-col>
    </ion-row>

    <ion-row>
      <ion-col  size="5" style="background-color: rgb(157, 214, 130); margin: 1px;">
        {{this.rotor}}
          </ion-col>
          <ion-col  size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            KW
              </ion-col>
       </ion-row>
  </ion-grid>
</p>


<p>
  <ion-grid>
    <ion-row>
      <ion-col  size="3" style="background-color: rgb(255, 0, 0); margin: 1px;">
        <font color="white">0.59</font>
          </ion-col>
          <ion-col  size="3" style="background-color: rgb(255, 0, 0); margin: 1px;">
            <font color="white">0.85</font>
              </ion-col>
              <ion-col  size="3" style="background-color: rgb(255, 0, 0); margin: 1px;">
                <font color="white">0.77</font>
                  </ion-col>
       </ion-row>
  </ion-grid>
</p>

<p>
  <ion-grid>
    <ion-row>
      <ion-col  size="5" style="background-color: rgb(202, 224, 238); margin: 1px;">
        <font color="black">MULTIPLICADOR</font>
          </ion-col>
    </ion-row>

    <ion-row>
      <ion-col  size="5" style="background-color: rgb(157, 214, 130); margin: 1px;">
        {{this.multiplicador}}
          </ion-col>
          <ion-col  size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            KW
              </ion-col>
       </ion-row>
  </ion-grid>
</p>


<p>
  <ion-grid>
    <ion-row>
      <ion-col  size="5" style="background-color: rgb(202, 224, 238); margin: 1px;">
        <font color="black">ALTERNADOR</font>
          </ion-col>
    </ion-row>

    <ion-row>
      <ion-col  size="5" style="background-color: rgb(157, 214, 130); margin: 1px;">
        {{this.alternador}}
          </ion-col>
          <ion-col  size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            KW
              </ion-col>
       </ion-row>
  </ion-grid>
</p>


<p>
  <ion-grid>
    <ion-row>
      <ion-col  size="5" style="background-color: rgb(202, 224, 238); margin: 1px;">
        <font color="black">TRANSFORMADOR</font>
          </ion-col>
    </ion-row>

    <ion-row>
      <ion-col  size="5" style="background-color: rgb(157, 214, 130); margin: 1px;">
        {{this.transformador}}
          </ion-col>
          <ion-col  size="1.2" style="background-color: rgb(247, 210, 0); margin: 8px;">
            KW
              </ion-col>
       </ion-row>
  </ion-grid>
</p>


<p>
  <ion-grid>
    <ion-row>
      <ion-col  size="5" style="background-color: rgb(202, 224, 238); margin: 1px;">
        <font color="black">Rendimiento Goblal</font>
          </ion-col>
    </ion-row>

    <ion-row>
      <ion-col  size="5" style="background-color: rgb(157, 214, 130); margin: 1px;">
        {{this.rendimiento}}
          </ion-col>
          <ion-col   size="0.7" style="background-color: rgb(247, 210, 0); margin: 8px;">
            %
              </ion-col>
       </ion-row>
  </ion-grid>
</p>



<p>
  <ion-grid>
    <ion-row>
      <ion-col  size="3" style="background-color: rgb(255, 0, 0); margin: 1px;">
        <font color="white">0.76</font>
          </ion-col>
       </ion-row>
  </ion-grid>
</p>



</ion-content>
