<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      VELOCIDAD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <ion-item>
    <ion-label position="floating">Densidad del aire</ion-label>
    <ion-input type="number" name="densidad" [(ngModel)]=this.densidad></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Longitud de pala</ion-label>
    <ion-input type="number" name="longitud" [(ngModel)]=this.longitud ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Coeficiente de potencia</ion-label>
    <ion-input type="number" name="Coeficiente"  [(ngModel)]=this.coeficiente></ion-input>
  </ion-item>
  
  </ion-list> 
  
    <ion-label position="stacked">Superficie del rotor</ion-label>
    <ion-textarea clearOnEdit="true">{{this.superficie}}</ion-textarea>
  
  <ion-button color="success" expand="block" (click)="calcular()" (ionChange)="calcular()">Calcular</ion-button>
  
  <p>
  <ion-grid> 
  <ion-row>
    <ion-col size="5" style="background-color: rgb(0, 0, 0); margin: 1px;">
    <font color="white">Velocidad del viento (m/s)</font>
       </ion-col>
    <ion-col style="background-color: rgb(157, 214, 130); margin: 1px;">
      5
       </ion-col>
      <ion-col  style="background-color: rgb(157, 214, 130); margin: 1px;">
        10
         </ion-col>
        <ion-col  style="background-color: rgb(157, 214, 130); margin: 1px;">
          15
           </ion-col>
          <ion-col  style="background-color: rgb(157, 214, 130); margin: 1px;">
            20
             </ion-col>
             <ion-col  style="background-color: rgb(157, 214, 130); margin: 1px;">
              25
               </ion-col>

</ion-row> 

<ion-row>
   <ion-col size="5" style="background-color: rgb(211, 211, 211); margin: 1px;">
  Potencia disponible del Viento (KW)
   </ion-col>
   <ion-col style = "border: solid 1px #000000">
    {{this.a}}
  </ion-col>
 <ion-col style = "border: solid 1px #000000">
    {{this.b}}
    </ion-col>
   <ion-col style = "border: solid 1px #000000">
    {{this.c}}
      </ion-col>
     <ion-col style = "border: solid 1px #000000">
      {{this.d}}
        </ion-col>
        <ion-col style = "border: solid 1px #000000">
          {{this.e}}
        </ion-col>
</ion-row>

<ion-row>
   <ion-col size="5" style="background-color: rgb(211, 211, 211); margin: 1px;">
  Potencia del Aerogeneador (KW)
   </ion-col>
   <ion-col style = "border: solid 1px #000000">
  </ion-col>
 <ion-col style = "border: solid 1px #000000">
    </ion-col>
   <ion-col style = "border: solid 1px #000000">
      </ion-col>
     <ion-col style = "border: solid 1px #000000">
        </ion-col>
        <ion-col style = "border: solid 1px #000000">
        </ion-col>
</ion-row> 
</ion-grid>
</p>
<p>
</p>

</ion-content>
