<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COEFICIENTE DE POTENCIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" href="#" onclick="window.open('https://www.weather.com/', '_system', 'location=yes');">
      <ion-icon name="partly-sunny"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-list>
  <ion-item>
    <ion-label position="floating">Densidad del aire</ion-label>
    <ion-input type="number" name="densidad" [(ngModel)]=this.densidad></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Longitud de pala</ion-label>
    <ion-input type="number" name="longitud" [(ngModel)]=this.longitud ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Velocidad del viento</ion-label>
    <ion-input type="number" name="Velocidad"  [(ngModel)]=this.velocidad></ion-input>
  </ion-item>
  
  </ion-list> 
  
    <ion-label position="stacked">Superficie del rotor</ion-label>
    <ion-textarea clearOnEdit="true">{{this.superficieround}}</ion-textarea>
  
  <ion-button color="success" expand="block" (click)="calcular()" (ionChange)="calcular()">Calcular</ion-button>
  
  <p>
  <ion-grid> 
  <ion-row>
    <ion-col size="4" style="background-color: rgb(0, 0, 0); margin: 1px;">
    <font color="white">Coeficiente de Potencia</font>
       </ion-col>
    <ion-col  style="background-color: rgb(157, 214, 130); margin: 1px;">
      0.1
       </ion-col>
      <ion-col  style="background-color: rgb(157, 214, 130); margin: 1px;">
        0.2
         </ion-col>
        <ion-col  style="background-color: rgb(157, 214, 130); margin: 1px;">
          0.3
           </ion-col>
          <ion-col  style="background-color: rgb(157, 214, 130); margin: 1px;">
            0.4
             </ion-col>

</ion-row> 

<ion-row>
   <ion-col size="4" style="background-color: rgb(211, 211, 211); margin: 1px;">
  Potencia disponible del Viento (KW)
   </ion-col>
   <ion-col style = "border: solid 1px #000000">
    {{this.ar}}
  </ion-col>
 <ion-col style = "border: solid 1px #000000">
  {{this.br}}
    </ion-col>
   <ion-col style = "border: solid 1px #000000">
    {{this.cr}}
      </ion-col>
     <ion-col style = "border: solid 1px #000000">
      {{this.dr}}
        </ion-col>
</ion-row>

<ion-row>
   <ion-col size="4" style="background-color: rgb(211, 211, 211); margin: 1px;">
  Potencia del Aerogeneador (KW)
   </ion-col>
   <ion-col style = "border: solid 1px #000000">
    {{this.er}}
  </ion-col>
 <ion-col style = "border: solid 1px#000000">
  {{this.fr}}
    </ion-col>
   <ion-col style = "border: solid 1px#000000">
    {{this.gr}}
      </ion-col>
     <ion-col style = "border: solid 1px#000000">
      {{this.hr}}
        </ion-col>
</ion-row> 
</ion-grid>
</p>
<p>
 
</p>

</ion-content>
